body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sliders {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin-top: 20px;
}

#sliders div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {
    width: 100px;
    transition: all 0.3s ease;
}
